<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/home/sa/IdeaProjects/store">
        <classes>
            <class name="com.solvd.test.FirstTest">
                <methods>
                    <include name="open"/>
                    <include name="login"/>
                    <include name="close"/>
                </methods>
            </class>
            <class name="com.solvd.test.SecondTest">
                <methods>
                    <include name="openBrowser"/>
                    <include name="searchCustomer"/>
                    <include name="addCustomer"/>
                    <include name="closeBrowser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>